.productFlag {
  color: white;
  background-color: #b88e2f;
  border-radius: 5px;
  text-align: center;
}
.inputElement {
  height: auto;

  &:focus {
    box-shadow: 0 0 0.8rem 0.15rem #b88e2f;
  }
}
